{% load static %}
<!DOCTYPE html>
<html style="height: 100%" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body style="position: relative; min-height: 100%; top: 0px;" class="body">

<div class="div menu">
    <button class="tab" onclick="adddir_form()">Add directory</button>
    <button class="tab" onclick="addfile_form()">Add file</button>
    <button class="tab" onclick="remove_form()">Remove file</button>
    <button class="tab" onclick="run_prover()">Run prover</button>
    <button class="tab" style="float:right;" onclick="location.href ='/logout'"><b style="color:white">Logout?</b></button>
    <button class="tab" style="float:right;" onclick="location.href ='/logout'"><b style="color:white">Logged in as {{ user.username }}</b></button>
</div>

<div class="div file-container" id="tree">
    {{ Files | safe }}
</div>

<div class="div content-container" id="filecontentdiv">
    <div id="printfile">
        <label>
                <textarea class="filecontent" id="filecontent" style="overflow-y:auto; height:70vh">
                </textarea>
        </label>
    </div>
    <div id="addfileform" style="display: none">

    </div>
    <div id="adddirform" style="display: none">

    </div>
    <div id="removefile" style="display: none">

    </div>

    <div class="div tab-selection">
        <button onclick="toggleList(1)" class="tab">Provers</button>
        <button onclick="toggleList(2)" class="tab">VCs</button>
        <button onclick="toggleList(3)" class="tab">Result</button>
    </div>

    <div class="div tab-data">
        <div id="div1">
            <button class="tab" id="Altbtn" style="width:100px; height:32px; background-color: #606060;"
                    onclick="changeProver('Alt-Ergo', 0)">Alt-Ergo
            </button>
            <br><br>
            <button class="tab" id="Z3btn" style="width:100px; height:32px; background-color: #606060;"
                    onclick="changeProver('Z3', 1)">Z3
            </button>
            <br><br>
            <button class="tab" id="CVC4btn" style="width:100px; height:32px; background-color: #606060;"
                    onclick="changeProver('CVC4', 2)">CVC4
            </button>
            <br><br>
        </div>
        <div id="div2" style="display: none;">
            Enable/Disable wp_rte flag : <input name="wp_rte" type="checkbox"><br>
            <input name="wp_propflag" type="text" placeholder="wp_prop"><br>
            <button onclick="changeresult()">Submit</button>
        </div>
        <div id="div3" style="display: none;">
            <div id="result" style="overflow-y: scroll; height:200px">
            </div>

        </div>
    </div>

    <div class="div program-elements" id="program-elements">
    </div>

</body>

</html>