{% load static %}
<!DOCTYPE html>
<html style="height: 100%" lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Title</title>
    <script src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body style="position: relative; min-height: 100%; top: 0px;" class="body">
    
    <div class="div menu">
        <button class="tab" onclick="location.href='/add_directory'">Add directory</button>
        <button class="tab" onclick="location.href='/add_file'">Add file</button>
        <button class="tab" onclick="location.href='/remove_file_dir'">Remove file</button>
        <button class="tab add-todo">Add todo</button>
{#        <button class="tab">File</button>#}
{#        <button class="tab">Edit</button>#}
{#        <button class="tab">Selection</button>#}
{#        <button class="tab">View</button>#}
{#        <button class="tab">Go</button>#}
{#        <button class="tab">Run</button>#}
{#        <button class="tab">Terminal</button>#}
{#        <button class="tab">Help</button>#}
    </div>
    
    <div class="div file-container">
        {{ Files | safe }}
    </div>
    
    <div class="div content-container">
        <label>
<textarea class="filecontent">
{{ filecontent }}
</textarea>
        </label>
    </div>
    
    <div class="div tab-selection">
        <button onclick="toggleList(1)" class="tab">Provers</button>
        <button onclick="toggleList(2)" class="tab">VCs</button>
        <button onclick="toggleList(3)" class="tab">Result</button>
    </div>
    
    <div class="div tab-data">
        <div id="div1">
            <button class="tab" id="Altbtn" style="width:100px; height:32px; background-color: #606060;" onclick="changeProver('Alt-Ergo', 0)">Alt-Ergo</button><br><br>
            <button class="tab" id="Z3btn" style="width:100px; height:32px; background-color: #606060;" onclick="changeProver('Z3', 1)">Z3</button><br><br>
            <button class="tab" id="CVC4btn" style="width:100px; height:32px; background-color: #606060;" onclick="changeProver('CVC4', 2)">CVC4</button><br><br>
        </div>
        <div id="div2" style="display: none;">
            <form id="myForm" action="{{ resulturl }}" method="POST"> {% csrf_token %}
                <input name="prover_name" type="hidden"id="prover">
                <table>
                    <tr>
                        <td> Enable/Disable wp_rte flag :</td>
                        <td><input name="wp_rte" type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>Wp_prop flags : </td>
                        <td><input name="wp_propflag" type="text" placeholder="wp_prop"></td>
                    </tr>
                </table>
                <button type="submit" >Submit</button>
            </form>
        </div>
        <div id="div3" style="display: none;">
{#            <button onclick="performAction()" class="tab">Print result</button>#}
            <div id="result" style="overflow-y: scroll; height:200px">
                {{ result | safe }}
            </div>

        </div>
    </div>
    
    <div class="div program-elements">
        {{ programelements | safe }}
    </div>

</body>

</html>